body {
  overflow: overlay!important;
  white-space: pre-wrap;
}
/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 17px;
}
td::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar:hover {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #cfd0d491;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #acadaf;
}
.title-style {
  width: 120px;
  font-weight: 600;
  color: #b5b5c3;
  font-size: .9rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.translate-middle {
  transform: translate(-50%,-50%)!important;
}
.top-50 {
top: 50%!important;
}
.start-50 {
left: 50%!important;
}
.start-100 {
left: 100%!important;
}
.start-110 {
left: 110%!important;
}
.required.form-label:after {
  margin-left: 2px;
  content:"*";
  color:red;
}
input::placeholder {
  font-size: .9rem;
}
.input__control {
  width: 100% !important;
  cursor: text !important;
  color: #3f4254 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #e4e6ef !important;
  border-radius: .42rem !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
.input__control:hover {
  border: 1px solid #e4e6ef !important;
}
.input__control:focus-within {
  border: 1px solid #ffba00 !important;
}
.input__placeholder {
  color: #b5b5c3 !important;
}
.input__option {
  cursor: pointer !important;
}
.input__multi-value__remove {
  cursor: pointer !important;
}
.input-prefix-icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  width: calc(1.5em + 1.3rem + 2px) !important;
}
.expand-cell-header {
  width: 10px;
}
section {
  background-color: white;
}
i.lnr {
  color: white;
}
.cart_inner th,td {
  min-width: 100px;
}
.lost_pass {
  width: fit-content;
}
.shipping_box .list li a.disabled {
  cursor: default !important;
  color: #b0b0b0 !important;
}
.shipping_box .list li a.disabled::before {
  border-color: #7676764d !important;
  background-color: #efefef4d !important;
}
.shipping_box .list li a.checkout {
  padding-left: 30px;
  font-size: 14px;
  color: #777777;
  border-bottom: none;
  position: relative; }
  .shipping_box .list li a.checkout:before {
    content: "";
    height: 16px;
    width: 16px;
    border: 1px solid #cdcdcd;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%); }
  .shipping_box .list li a.checkout:after {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffba00;
    display: inline-block;
    position: absolute;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0; }
.shipping_box .list li.active a.checkout:after {
  opacity: 1; }
.order_box ul li a {
  cursor: default;
}
.order_d_inner .details_item .list li a span {
  width: 155px;
}
.set-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
.product__item {
	display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 40px;
    height: calc(100% - 40px);
}

.product__item.sale .product__item__pic .label {
	color: #ffffff;
	background: #111111;
}

.product__item.sale .product__item__text .rating i {
	color: #f7941d;
}

.product__item.sale .product__item__text .rating i:nth-last-child(1) {
	color: #b7b7b7;
}

.product__item:hover .product__item__pic .product__hover {
	right: 20px;
	opacity: 1;
}

.product__item:hover .product__item__text a {
	top: 22px;
	opacity: 1;
	visibility: visible;
}

.product__item:hover .product__item__text h6 {
	opacity: 0;
}

.product__item:hover .product__item__text .product__color__select {
	opacity: 1;
}

.product__item__pic {
	height: 260px;
	cursor: pointer;
	position: relative;
	background-position: center center;
}

.product__item__pic .label {
	color: #111111;
	font-size: 11px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 4px 15px 2px;
	background: #ffffff;
	position: absolute;
	left: 0;
	top: 20px;
}

.product__item__pic .product__hover {
	position: absolute;
	right: -200px;
	top: 20px;
	-webkit-transition: all, 0.8s;
	-o-transition: all, 0.8s;
	transition: all, 0.8s;
}

.product__item__pic .product__hover li {
	list-style: none;
	margin-bottom: 10px;
	position: relative;
}

.product__item__pic .product__hover li:hover span {
	opacity: 1;
	visibility: visible;
}

.product__item__pic .product__hover li span {
	width: 80px;
	color: #ffffff;
	background: #111111;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	position: absolute;
	left: -78px;
	top: 5px;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__pic .product__hover li span:after {
	position: absolute;
	right: -2px;
	top: 5px;
	height: 15px;
	width: 15px;
	background: #111111;
	content: "";
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	z-index: -1;
}

.product__item__pic .product__hover li img {
	background: #ffffff;
	padding: 10px;
	display: inline-block;
}

.product__item__text {
	padding-top: 25px;
	position: relative;
}

.product__item__text a {
	font-size: 15px;
	color: #ffba00;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text h6 {
	color: #111111;
	font-size: 15px;
	margin-bottom: 5px;
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.product__item__text .rating {
	margin-bottom: 6px;
}

.product__item__text .rating i {
	font-size: 14px;
	color: #b7b7b7;
}

.product__item__text h5 {
	color: #0d0d0d;
}

.product__item__text .product__color__select {
	position: absolute;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__text .product__color__select label {
	display: inline-block;
	height: 12px;
	width: 12px;
	background: #5e64d1;
	border-radius: 50%;
	margin-bottom: 0;
	margin-right: 5px;
	position: relative;
	cursor: pointer;
}

.product__item__text .product__color__select label.active:after {
	opacity: 1;
}

.product__item__text .product__color__select label:after {
	position: absolute;
	left: -3px;
	top: -3px;
	height: 18px;
	width: 18px;
	border: 1px solid #b9b9b9;
	content: "";
	border-radius: 50%;
	opacity: 0;
}

.product__item__text .product__color__select label input {
	position: absolute;
	visibility: hidden;
}
.product__details__option {
	margin-bottom: 15px;
}

.product__details__option__size {
	display: block;
	margin-right: 50px;
}

.product__details__option__size span {
	color: #111111;
	display: inline-block;
	margin-right: 20px;
}

.product__details__option__size label {
	color: #111111;
	font-size: 13px;
	text-transform: uppercase;
	display: inline-block;
	border: 1px solid #e5e5e5;
	padding: 4px 10px;
	margin-bottom: 0;
	margin-right: 5px;
	cursor: pointer;
}

.product__details__option__size label.active {
	background: #ffba00;
	color: #ffffff;
	border-color: #ffba00;
}

.product__details__option__size label input {
	position: absolute;
	visibility: hidden;
}

.product__details__option__color {
	display: inline-block;
	position: relative;
	margin-top: 20px;
}

.product__details__option__color span {
	color: #111111;
	display: inline-block;
	margin-right: 20px;
	position: relative;
	top: -5px;
}

.product__details__option__color label {
	height: 21px;
	width: 21px;
	border-radius: 50%;
	position: relative;
	margin-right: 10px;
	margin-left: 8px;
	margin-bottom: 0;
	display: inline-block;
	cursor: pointer;
}

.product__details__option__color label:after {
	position: absolute;
	left: -5px;
	top: -5px;
	height: 31px;
	width: 31px;
	border: 1px solid #e5e5e5;
	content: "";
	border-radius: 50%;
}
.product__details__option__color label.active:after {
	border: 3px solid #ffba00;
}

.product__details__option__color label input {
	position: absolute;
	visibility: hidden;
}
.product__details__cart__option {
	margin-bottom: 20px;
}

.product__details__cart__option span {
	color: #111111;
	margin-right: 10px;
}

.product__details__cart__option .quantity {
	display: inline-block;
}

.product__details__cart__option .quantity .pro-qty {
	width: 80px;
	height: 30px;
	border: 1px solid #e5e5e5;
	position: relative;
}

.product__details__cart__option .quantity .pro-qty input {
	color: #0d0d0d;
	font-size: 13px;
	width: 60px;
	height: 100%;
	text-align: center;
	border: none;
}

.product__details__cart__option .quantity .pro-qty .qtybtn {
	font-size: 18px;
	color: #0d0d0d;
	position: absolute;
	right: 5px;
	top: -3px;
	height: 10px;
	width: 10px;
	cursor: pointer;
}

.product__details__cart__option .quantity .pro-qty .qtybtn.inc {
	top: 13px;
}
.img-fluid {
	width: 100%;
	padding: 20px;
	object-fit: cover;
}
.sidebar-categories .main-nav-list a.active, a.active > span {
    color: #ffba00!important;
}
.sidebar-categories .main-nav-list a > span {
	margin-left: unset!important;
}
#price-range .noUi-handle {
	width: 16px!important;
    height: 16px!important;
    left: -8px!important;
    top: -5px!important;
}
#price-range {
	height: 6px!important;
}
#price-range .noUi-connect {
	display: none;
}
.top-filter-head a {
	float: right;
	font-size: small;
}
.dropdown-status:after {
	display: none!important;
}
.dropdown-status {
	color: unset!important;
	background-color: transparent!important;
	color: #b5b5c3!important;
	border-color: transparent!important;
}
.dropdown-status i {
	color: unset!important;
}
.dropdown-status:hover {
	color: #ffba00!important;
}
.dropdown-status-menu {
	transform: unset!important;
	left: 20px!important;
	top: 20px!important;
}
.dropdown-success i,.dropdown-success span {
	color: #1bc5bd!important;
}
.dropdown-fail i,.dropdown-fail span {
	color: #f64e60!important;
}
.dropdown-item span {
	background-color: unset;
}
.dropdown-success:active {
	background-color: #c9f7f5;
}
.dropdown-fail:active {
	background-color: #ffe2e5;
}
.track {
    position: relative;
    height: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 100px;
    margin-top: 50px
}

.track .step {
	-webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 25%;
    margin-top: -28px;
    text-align: center;
    position: relative
}

.track .step.active:before {
	border-bottom: 4px solid #2dc258;
}
.track .step.deactive:before {
	border-bottom: 4px dashed #d73211;
}
.track .step.deactive.current:before {
	border-bottom: 4px solid #d73211;
}

.track .step::before {
	height: 4px;
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    top: 28px;
	border-bottom: 4px solid #ddd;
}

.track .step.active .icon {
    background-color: #fff;
	border: 4px solid #2dc258;
}
.track .step.active.current .icon {
    background-color: #2dc258;
}
.track .step.deactive.current .icon {
    background-color: #d73211;
}
.track .step.deactive .icon {
    background-color: #fff;
	border: 4px solid #d73211;
}

.track .svg-order-icon {
	border-color: #ddd;
    color: #ddd;
	display: inline-block;
    width: 2em;
    height: 2em;
	line-height: 2em;
    fill: currentColor;
    position: relative;
    stroke: currentColor;
}
.track .active .svg-order-icon {
    color: #2dc258;
}
.track .deactive .svg-order-icon {
    color: #d73211;
}
.track .deactive.current .svg-order-icon {
    color: #fff;
}

.track .current .svg-order-icon {
    color: #fff;
}

.track .icon {
	display: flex;
    justify-content: center;
    align-items: center;
	position: relative;
	margin: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    position: relative;
    border-radius: 100%;
	background-color: #fff;
    border: 4px solid #ddd
}

.track .step.active .text {
    font-weight: 400;
    color: #000
}

.track .text {
    display: block;
    margin-top: 4px
}
#registerForm .login_form_inner {
	padding-top: 61px;
}
.instafeed li img {
	width: 70px;
}